extend template.main.pug

block content
    section#about
        .container
            .row
                .section-title
                    h3 ABOUT ME 🙋🏻‍♀️
                    h2 I’m a UX/UI designer, happily living in Barcelona. <br/> I deliver <em>simple and elegant </em> solutions for <br/> complex problems on the digital space.
                .col-md-8.col-sm-12.vcenter
                    img.azusa(src="images/about-image.jpg" class="img-responsive" alt="About")
                .col-md-4.col-sm-12.vcenter
                    h1 Azusa Watanabe
                    //p.download-cv
                    //    a(href="/resume_azusa.pdf" target="_blank").button Download CV
                .clearfix.spacer
                .col-md-offset-1.col-md-10
                    .row
                        .col-md-6.col-sm-6
                            h3.subtitle SKILLS
                            ul
                                li Product design
                                li UX/UI design
                                li Design system
                                li User research
                                li Data analytics
                                li Customer journey
                                li Wireframing
                                li Prototyping
                                li Mobile & web design
                                li Lean UX

                        .col-md-6.col-sm-6
                            h3.subtitle TOOLS
                            ul
                                li Sketch
                                li Figma
                                li Zeplin
                                li Protopie
                                li InVision                        
                                li Balsamiq
                                li Hotjar
                                li Optimizely
                                li HTML & CSS
                                li Photoshop

        .quote
            .container 
                .row
                    .col-md-offset-1.col-md-10
                        p “Azusa is an exceptional professional. <br/> I had pleasure of working with her in 3 different companies. <br> We worked side by side, and I can say that I learned a lot from her. <br> She developed an important role and helped iLove.e to evolve and <br/>grow into a competitive level.”
                        p.quote-author –Mariah Pucci <br> COO, Magna consultancy
        .experiences
            .container 
                .row
                    .col-md-offset-1.col-md-10
                        h3.subtitle Experiences with
                        .col-md-4.col-sm-6
                            img(src="images/logos/logo_priv2.jpg" class="img-responsive" alt="Privalia")
                            img(src="images/logos/logo_ilov.png" class="img-responsive" alt="iLove.e")
                            img(src="images/logos/logo_pan.png" class="img-responsive" alt="Pandora")
                        .col-md-4.col-sm-6
                            img(src="images/logos/logo_vep.jpg" class="img-responsive" alt="Veepee")
                            img(src="images/logos/logo_ama.png" class="img-responsive" alt="Amaro")
                            img(src="images/logos/logo_kat.png" class="img-responsive" alt="Kate Spade")
                        .col-md-4.col-sm-6
                            img(src="images/logos/logo_nat.jpg" class="img-responsive" alt="Naturitas")
                            img(src="images/logos/logo_wes.png" class="img-responsive" alt="Westwing")
                            img(src="images/logos/logo_kit.png" class="img-responsive" alt="KitchenAid")


        
