extend template.main.pug

block content
     <!-- Single Project Section -->

     <section id="single-project">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <h1>Dinda Visual Design & Branding</h1>
                         <p class="case-text col-md-offset-1 col-md-10 col-sm-12">Dinda is a children's clothing online Outlet, focused in kid's clothing and mom's related products. The main objetive was to define a new branding for the company, developed in conjuction with an agency. The colors, language and various graphic elements were constructed together with Marketing department. Also, a unique team was built to give the branding a new fresh life. Through the branding's definition, several successful CRM campaigns were delivered.
                          </p>
                         <a href="https://www.dinda.com.br/"><i class="fa fa-long-arrow-right"></i> View Dinda Website</a>

                         <div class="col-md-12 col-sm-12">
                              <img src="images/din01.jpg" class="img-responsive" alt="Portfolio">
                         </div>

                         <div class="clearfix"></div>

                         <div class="col-md-4 col-sm-4">
                              <h3>Skills</h3>
                              <p>Graphic Design, Branding, CRM, Marketing</p>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <h3>Period</h3>
                              <p>January 2014 – December 2013 </p>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <h3>Brand Company</h3>
                              <p>Dinda</p>
                         </div>

                    </div>

               </div>
               .row
                  .col-md-12
                    a(href="index.html").button-next See all works 
                        i.fa.fa-long-arrow-right
          </div>
     </section>