extend template.main.pug

block content
     <!-- Single Project Section -->

     <section id="single-project">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <h1>Free Flats Branding & User experience</h1>
                         <p class="case-text col-md-offset-1 col-md-10 col-sm-12">AA new visual identity guide with a lot of creative freedom was developed for Free Flats. It is an online store focused on flat sandals that started its activities in 2016. The target audience of Free Flats is an urban woman who has a relaxed and cool fashion style. We have created everything from color guidelines, fonts, elements and a photo art direction. The project included the complete development of a fully responsive institutional website.</p>

                         <div class="col-md-12 col-sm-12">
                              <img src="images/fre01.jpg" class="img-responsive" alt="Portfolio">

                         <div class="clearfix"></div>

                         <div class="col-md-4 col-sm-4">
                              <h3>Skills</h3>
                              <p>Photography, Web Design, UX & Branding</p>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <h3>Date</h3>
                              <p>October, 2016</p>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <h3>Brand Company</h3>
                              <p>Free Flats</p>
                         </div>

                    </div>

               </div>

               .row
                  .col-md-12
                    a(href="index.html").button-next See all works 
                        i.fa.fa-long-arrow-right
          </div>
     </section>