extend template.main.pug

block content
     <!-- Single Project Section -->

     <section id="single-project">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <h1>iLove.e: Branding, UX/UI and advertising</h1>
                         <p class="case-text col-md-offset-1 col-md-10 col-sm-12"> A digital platform that offered fashion, beauty and lifestyle brands to users being a referential marketplace in the brazilian fashion's sector. The main goal was to change the target audience from a young woman to an adult public, without losing the look and feel already established.<br/> <br/>Then, a deep process of designing a new visual identity and user experience had begun. The team dedicated a week for the Design sprint sessions including the CEO, developers and business owners. <br/><br/>All this data culminated in a whole new responsive website, information architecture and positioning. The new UX was developed based on the user's insights and the focus switched to show editorial content.<br/><br/>In the meantime, another important business activity was to provide advertising for partners. The strategy included sending CRM newsletters to increase qualified leads for fashion brands.</p>
                         <div class="col-md-12 col-sm-12">
                              <img src="images/ilo01.jpg" class="img-responsive" alt="Portfolio">
                         </div>

                         <div class="clearfix"></div>

                         <div class="col-md-4 col-sm-4">
                              <h3>Skills</h3>
                              <p>UX/UI, Graphic design & Branding</p>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <h3>Period</h3>
                              <p>Semptember 2014 - January 2017</p>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <h3>Brand Company</h3>
                              <p>iLove.e</p>
                         </div>
                    </div>

               </div>
               .row
                  .col-md-12
                    a(href="index.html").button-next See all works 
                        i.fa.fa-long-arrow-right
          </div>
     </section>