extends template.main.pug

block content
     <section id="home">
          <div class="container">
               <div class="row">

                    <div class="section-title">
                       <h3> HELLO, I'M AZUSA 👩🏻‍💻</h3>
                         <h2>I work as a senior product designer, solving problems <br/>by designing intuitive experiences. </h2>
                         
                    </div>

               </div>
          </div>
     </section>

     <!-- Portfolio Section -->

     <section id="portfolio">
          <div class="container">
               <div class="row">

                    
                    <div class="col-md-4 col-sm-6">
                         <a href="https://medium.com/@azusa.wat/ux-ui-case-study-moodup-e3bb6a9c6e8" target="_blank">
                              <div class="portfolio-thumb">
                                   <img src="images/portfolio-imgmood.jpg" class="img-responsive" alt="Portfolio">
                                        <div class="portfolio-overlay">
                                             <div class="portfolio-item">
                                                  <h3>MoodUp Article at Medium</h3>
                                                  <small> UX/UI</small>
                                             </div>
                                        </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <a href="aka.html">
                              <div class="portfolio-thumb">
                                   <img src="images/portfolio-imgaka.jpg" class="img-responsive" alt="Portfolio">
                                        <div class="portfolio-overlay">
                                             <div class="portfolio-item">
                                                  <h3>AKASSI</h3>
                                                  <small>UX/UI, Graphic design & Branding</small>
                                             </div>
                                        </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <a href="ilo.html">
                              <div class="portfolio-thumb">
                                   <img src="images/portfolio-img3.jpg" class="img-responsive" alt="Portfolio">
                                        <div class="portfolio-overlay">
                                             <div class="portfolio-item">
                                                  <h3>iLove.e</h3>
                                                  <small>UX/UI, Graphic design & Branding</small>
                                             </div>
                                        </div>
                              </div>
                         </a>
                    </div>
                    //-

                         <div class="col-md-4 col-sm-6">
                              <a href="check.html">
                                   <div class="portfolio-thumb">
                                        <img src="images/portfolio-imgcheck.jpg" class="img-responsive" alt="Portfolio">
                                             <div class="portfolio-overlay">
                                                  <div class="portfolio-item">
                                                       <h3>Check-out flow</h3>
                                                       <small> User experience & Interaction</small>
                                                  </div>
                                             </div>
                                   </div>
                              </a>
                         </div>

                         <div class="col-md-4 col-sm-6">
                              <a href="pri.html">
                                   <div class="portfolio-thumb">
                                        <img src="images/portfolio-img6.jpg" class="img-responsive" alt="Portfolio">
                                             <div class="portfolio-overlay">
                                                  <div class="portfolio-item">
                                                       <h3>Privalia</h3>
                                                       <small>Visual Design & CRM </small>
                                                  </div>
                                             </div>
                                   </div>
                              </a>
                         </div>

                         <div class="col-md-4 col-sm-6">
                              <a href="fre.html">
                                   <div class="portfolio-thumb">
                                        <img src="images/portfolio-img1.jpg" class="img-responsive" alt="Portfolio">
                                             <div class="portfolio-overlay">
                                                  <div class="portfolio-item">
                                                       <h3>Free Flats</h3>
                                                       <small> User experience, Interaction & Branding</small>
                                                  </div>
                                             </div>
                                   </div>
                              </a>
                         </div>

                         <div class="col-md-4 col-sm-6">
                              <a href="pet.html">
                                   <div class="portfolio-thumb">
                                        <img src="images/portfolio-img2.jpg" class="img-responsive" alt="Portfolio">
                                             <div class="portfolio-overlay">
                                                  <div class="portfolio-item">
                                                       <h3>Petit Souvenir</h3>
                                                       <small> User interaction & Branding</small>
                                                  </div>
                                             </div>
                                   </div>
                              </a>
                         </div>

                         <div class="col-md-4 col-sm-6">
                              <a href="din.html">
                                   <div class="portfolio-thumb">
                                        <img src="images/portfolio-img4.jpg" class="img-responsive" alt="Portfolio">
                                             <div class="portfolio-overlay">
                                                  <div class="portfolio-item">
                                                       <h3>Dinda</h3>
                                                       <small>Visual Design, CRM & Branding</small>
                                                  </div>
                                             </div>
                                   </div>
                              </a>
                         </div>

                         <div class="col-md-4 col-sm-6">
                              <a href="ama.html">
                                   <div class="portfolio-thumb">
                                        <img src="images/portfolio-img5.jpg" class="img-responsive" alt="Portfolio">
                                             <div class="portfolio-overlay">
                                                  <div class="portfolio-item">
                                                       <h3>Amaro</h3>
                                                       <small>Visual Design, Photography & Branding</small>
                                                  </div>
                                             </div>
                                   </div>
                              </a>
                         </div>

               </div>
          </div>
     </section>